div
  ul.pages
    li.login.page
      form(ng-submit="enterChat()", class="form")
        h3.title What's your nickname?
        input.usernameInput(type='text', maxlength='14', ng-model="username")
